# Sources
/src
/tests
/node_modules
/app/*
!/app/.next
!/app/next.config.js
!/app/public

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Configs
.eslintrc
.prettierrc
.janus.config.yml
jest.config.*.json
nest-cli.json
tsconfig.*.json
tsconfig.json
webpack.config.js

# Others
/dist/*.js.map
/dist/*.d.ts.map
